body {
    margin: 0;
    padding: 0;
  }
/*the property of the offer div*/
.offer
{
    text-align:center;
    color: rgb(72, 23, 23);
    font-size: 13px;
}
/*about and all div */
.box
{
    text-align:center;
    color: rgb(72, 23, 23);
    display: flex;
    justify-content: space-between; 
    align-items: center;         
    /* margin: 10px auto;  */
    border-top: 1px solid  rgb(72, 23, 23,0.8) ; 
    border-bottom: 1px solid  rgb(72, 23, 23,0.8);  
             
}
 /*changes in the title bakeeasy*/
 .title
 {
   font-family:'Dancing Script', cursive;
   font-size: 20px;
   -webkit-text-stroke: 1px whitesmoke;
   user-select: none;
 }
 .stitle
 {
   background-color:rgb(156,99,79);
   border-radius: 1px;
 }
 .mini-caption{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(0,0,0,0.8);
 }
/*caption div*/
.brown
{
    background-color:rgb(240,215,167,0.8);
    justify-content:center;
    align-items: center;
    text-align:center;
    padding:20px; 
}
/*caption title changes*/
.caption-style{
    font-family:'Pacifico', cursive;
    color: rgb(72, 23, 23) ;
  }
  /*styling button*/
  .button-style
  {
    border-radius: 20px; 
    color:white;
    background-color:rgb(137,78,63) ;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer; 
  }
  .button-style:hover{
    transform: scale(1.05);
    background-color:rgb(137,78,63); ;
  }
  /*styling search box*/

  .search-container {
    position: relative;
    width: 150px; 
}
.search-box {
    width: 100%;
    padding: 5px 5px 5px 5px; 
    font-size: 12px;  
    border: 1px solid rgb(137,78,63);
    border-radius: 15px;  
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 2px;  /* Space from the right edge */
    transform: translateY(-50%);  /* Vertically center the icon */
    font-size: 16px; 
    color:rgb(137,78,63);
    pointer-events: none;  /* Prevents the icon from blocking input */
    user-select: none;
}

/*arrangement of div*/
.right-items {
    display: flex;
    gap: 10px; 
    align-items: center;
}
.right-items h6, .right-items .search-container, .right-items{
    margin: 0;
    padding: 8px;
    font-size: 10px;
}
/*div 4*/
.like
{
    background-color:rgb(219,172,152,0.8);
    justify-content:center;
    align-items: center;
    text-align:center;
    padding:10px; 
}
.text-like
{
    font-size: 20px;
    font-family:'Pacifico', cursive;
    color: rgb(72, 23, 23) ;
}
  